/* CSS Document */

.item-navbar {
  color: black;
  text-align: center;
  min-width: 15px;
}

.item-navbar:hover {
  background-color: black !important;
  color: white !important;
  font-weight: bold;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.buttonFloating {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.8;
  background-color: white;
  color: black;
  position: fixed;
  right: 10px;
  bottom: 15px;
}

.buttonFloating:hover,
.buttonFloating:active {
  opacity: 1;
  background-color: black;
  color: white;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container-half {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.dropzoneInformation {
  position: relative;
  top: 180px;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

.dropzone {
  width: 100%;
  min-height: 450px;
  position: relative;
  margin-bottom: 5px;
}

#progress {
  position: relative;
}

.input-file {
  opacity: 0;
  /* invisible but it's there! */
  width: 100%;
  min-height: 450px;
  position: absolute;
  cursor: pointer;
}

